* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: #efeeee;
    overflow-x: hidden;
    /* 横向滚动条隐藏 */
}

video {
    margin: 50px auto;
}

section {
    margin-bottom: 100px;
    height: 700px;
    background-color: rgb(176, 218, 240);
    border-radius: 20px;
    overflow: hidden;
}

.intro {
    margin-top: 50px!important;
    margin-right: -15px;
    background-color: rgb(62, 85, 238);
    height: 550px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.center {
    width: 276px;
    height: 250px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
}

.title {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 310px;
    font-size: 25px;
    color: #fff;
}

.cont {
    color: #fff;
    margin-left: 310px;
    margin-top: 20px;
    text-indent: 2em;
}

.row1 {
    margin-top: 30px;
    /* margin-left: 20px; */
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
}

.blue-line {
    float: left;
    background-color: rgb(0, 160, 233);
    width: 3px;
    height: 50px;
    margin-right: 20px;
}

.row1>p {
    float: left;
}

.more {
    cursor: pointer;
    margin-top: 20px;
    margin-left: 350px;
    text-align: center;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    border: 1px white solid;
}

.more>a {
    text-decoration: none;
    color: #fff;
}

.map {
    height: 700px;
    /* margin-right: -15px; */
}


/* 轮播图样式 */

.swiper {
    margin: 50px auto;
    position: relative;
    width: 1600px;
    height: 400px;
}

ul {
    left: 0;
    position: absolute;
    width: 1600px;
    height: 300px;
}

.swiper img {
    width: 300px;
    height: 300px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
    transition: all .5s;
}

.swiper img:hover {
    transform: scale(1.3);
}

li {
    width: 300px;
    float: left;
    margin-right: 20px;
}


/* .bbox {
    width: 400px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
} */


/* .btn {
    width: 80px;
    height: 35px;
    margin: 0 50px;
    border-radius: 10px;
    border: 1px solid black;
} */

.foot {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    text-align: center;
    font-size: 20px;
}

.foot {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    /* border: 1px solid black; */
    text-align: center;
}

.foot img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all .5s;
}

.foot img:hover {
    transform: scale(1.3);
}


/*底部联系和更多支持*/

a {
    color: black;
}

a:link {
    color: black;
}

a:visited {
    color: purple;
}

a:hover {
    color: #3E4ECA;
}

a:active {
    color: purple;
}

.footer {
    height: 20rem;
}

.footer_line {
    margin-top: 5rem;
    height: 4rem;
    border-top: 1px solid grey;
}

.footer-content {
    display: flex;
    margin-top: 3rem;
    font-size: 1rem;
    width: 100%;
    height: 25rem;
    line-height: 4rem;
}

.footer-content-lt {
    flex: 1;
}

.footer-content-rt {
    flex: 1;
}

.sjmt_box {
    display: flex;
}

.sjmt_box div {
    margin-left: 2rem;
}

.sjmt_box div:first-child {
    margin-left: 0;
}

.disactive {
    display: none;
}

.footer-rt-bottom {
    font-size: 1rem;
    float: right;
    margin-bottom: 4rem;
}

.footer-rt-bottom span {
    float: right;
}

.linkbox img {
    width: 6rem;
    height: 6rem;
    display: none;
}