@charset "UTF-8";

/**
*
* @authors Your Name (you@example.org)
* @date    2023-05-13 13:42:26
* @version $Id$
*/
html {
	font-size: 16px;
}

body {
	color: black;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media (min-width:640px) and (max-width:1280px) {
	body {
		background-color: white;
		width: 100%;
	}

	.asian_icon {
		margin-top: 20%;
		margin-left: 50%;
		height: 4rem;
		color: white;
	}

	.topnav-item {
		display: none;
	}

	.searchbtn {
		display: none;
	}

	.event_tle {
		height: 3rem;
		line-height: 3rem;
		text-align: center;
		margin: 1rem auto;
		color: white;
		font-size: 1rem;
		width: 100%;
		border-radius: 2rem;
		background-color: #2C68DB;
	}

	.top_video {
		margin-top: 1.5rem;
	}

	/*头部视频*/
	.top_video video {
		width: 100%;
		height: 30rem;
	}

	/*	赛事介绍*/
	.event_intro {
		padding: 0.5rem 1rem;
		height: 32rem;
		border-radius: 1rem;
		color: black;
		background-color: #F4E1CA;
		overflow: hidden;
	}

	.event_intro_tle {
		display: flex;
		flex-direction: column;
		text-align: center;
		color: #2677F0;
	}

	.event_intro_tle h1:first-child {
		display: none;
	}

	.event_intro_tle h1:last-child {
		font-weight: bolder;
		text-align: center;
		font-size: 1.2rem;
		margin: 0.4rem 0;
	}

	.intro_cnt {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 350px;
	}

	.intro_cnt img {
		flex: 1;
		width: 12rem;
		height: 20rem;
		border-radius: 0.8rem;
	}

	.intro_txt1 p {
		display: none;
	}

	.intro_txt2 {
		margin-top: 0.5rem;
		font-size: 0.8rem;
	}

	.intro_more {
		margin-top: 0;
		font-size: 0.8rem;
		color: #2677F0;
		align-self: flex-end;
	}

	/*	赛事轮播*/
	.event_list {
		margin-top: 1rem;
		height: 43rem;
	}

	/*设置swiper的显示区域*/
	.swiper-event-box {
		height: 38rem;
		width: 100%;
		overflow: hidden;
	}

	.event_list h1 {
		text-align: center;
		font-weight: bolder;
		font-size: 1.2rem;
		margin: 0.4rem 0;
		color: #2677F0;
	}

	.event_select {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #F4E1CA;
		height: 39rem;
	}

	.event_select img {
		flex: 1;
		width: 10rem;
		height: 15rem;
		padding: 5px 0.5rem;
	}

	/*设置swiper的换页器*/
	#pagination-event {
		position: absolute;
		top: 41rem;
	}

	#swiper-event-prev {
		display: none;
	}

	#swiper-event-next {
		display: none;
	}

	/*	冠军轮播*/
	.champion_list {
		margin-top: 1rem;
		height: 40rem;
	}

	.champion_list h1 {
		text-align: center;
		margin: 0.4rem 0;
		font-size: 1.2rem;
		font-weight: bolder;
		color: #2677F0;
	}

	/*	设置显示区域*/
	.swiper-champion-box {
		height: 42rem;
		width: 100%;
		overflow: hidden;
	}

	.champion_select {
		display: flex;
		justify-content: center;
		height: 35rem;
	}

	.champion_select li {
		position: relative;
		height: 100%;
		background-color: grey;
		border-radius: 10px;
	}

	.champion_select li img {
		flex: 1;
		width: 16rem;
		height: 26rem;
	}

	.champion_select li .select_img_txt_box {
		position: absolute;
		font-size: 0.8rem;
		top: 66%;
		width: 100%;
		color: white;
		text-align: center;
	}

	#pagination-champion {
		position: absolute;
		top: 95%;
	}

	#swiper-champion-prev {
		display: none;
	}

	#swiper-champion-next {
		display: none;
	}

	/*底部更多和支持*/
	.footer-content-rt {
		display: none;
	}

	.footer-rt-bottom span {
		float: left;
	}

	.bottomgap {
		height: 10rem;
	}

}
