@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2023-05-04 18:20:22
 * @version $Id$
 */

 


.main {
	margin: 0 auto;
	width: 1200px;
}


  
.topnav {
	height: 84px;
	font-size: 24px;
	background-color: white;
}

.asian_icon {
	height: 70px;
	padding: 0;
}

.topnav-item {
	color: grey;
	transition: border-radius 2s,
	background-color 1s;
	
}

.topnav-item:hover {
	color: white;
	border-radius: 20px;
	background-color: #3E4ECA;
}

.topnav-item a {
	color: grey ;
}

.topnav-item a:hover {
	color: white ;
}

input[type="text"] {
  border: 2px solid #ddd;
  color: grey;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}



.zx_title a {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	font-size: 42px;
	color: black;
}

.zx_title2 {
	margin-top: 20px;
}

.zx_title2-text span:first-child {
	padding: 4px 6px;
	font-size: 12px;
	color: white;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #3E4ECA;
}

.mainwidth {
	position: relative;
  width: 90%;
  max-width: 1000px;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
  }

.zx_title_img {
	display: flex;
	justify-content: center;
	margin: 5% 0;
}

.swiper-text-box1 h1 a {
	font-size: 36px;
	font-weight: bold;
	position: absolute;
	top: 200px;
	left: 550px
}

.swiper-text-box1 h2 a {
	font-size: 28px;
	position: absolute;
	top: 260px;
	left: 550px
}

.zx_more1 {
	position: absolute;
	top: 320px;
	left: 550px
}

.swiper-text-box2 h1 a {
	font-size: 36px;
	font-weight: bold;
	position: absolute;
	top: 100px;
	left: 120px
}

.swiper-text-box2 h2 a {
	font-size: 28px;
	position: absolute;
	top: 160px;
	left: 120px
}

.zx_more2 {
	position: absolute;
	top: 240px;
	left: 120px
}


.swiper-text-box3 h1 a {
	font-size: 36px;
	font-weight: bold;
	position: absolute;
	top: 40px;
	left: 800px
}

.swiper-text-box3 h2 a {
	font-size: 28px;
	position: absolute;
	top: 100px;
	left: 800px
}

.zx_more3 {
	position: absolute;
	top: 160px;
	left: 800px
}

.athlete-img {
	object-fit: contain;
	height: auto;
	width: 100%;
  }
  
.new-left {
	height: 800px;
}

.new-left img {
	width: 100%;
	height: 400px;
}

.new-left h1 a {
	color: black;
}

.new-left-time {
	margin-top: 40px;
	color: grey;
}

.zx_more4 img{
	width: 200px;
	height: 40px;
	margin-top: 80px;

}

.new-right-top img {
	width: 100%;
	height: 300px;
}

.new-right-top h4 {
	margin-top: 20px;
}

.new_more {
	display:inline-block;
	justify-content: center;
	height: 100%;
	margin-top: 50px;
}

.new_more2 {
	display:inline-block;
	justify-content: center;
	height: 100%;
	margin-top: 50px;
}

.vo_title_img {
	display: flex;
	justify-content: center;
	margin: 5% 0;
}

.active{
	height: 400px;
}